.content{
  position: fixed;
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(
    10.32deg,
    #2f244d 12.47%,
    #6e3690 25.69%,
    #ffece4 48.29%,
    #6e3690 73.87%,
    #2f244d 94.34%,
    #2f244d 94.34%
  );

  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  
.box{
  width: 313px;
  height: 738px;

  background: #E6E7FF;
  box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  margin-top: 35px;
}

.box1{
  position: relative;
}

.word1{
  position: absolute;
  top: -5%;
}

.tataro1{
  font-family: 'KCCChassam';
  
  color: #F0EB8D;
  -webkit-text-stroke: 1px black;
  font-size: 34px;
  font-weight: 400px;

  margin-top: 72px;
  margin-left: 40px;
  margin-right: 123px;

  
}

.tataro2{
  font-family: 'KCCChassam';
 
  
  color: #F0EB8D;
  -webkit-text-stroke: 1px black;
  font-size: 65px;
  font-weight: 400px;

  margin-top: 8px;
  margin-left: 15px;
  margin-right: 123px;

 
}

.tataro_img{
  width: 139px;
  height: 173px;

  margin-top: 16px;
  margin-left: 160px;

  top: 10%;
  left: 50%;
  
}

.box2{
  font-family: "KCCChassam";
  font-size: 9px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 172px;
  height: 42px;
  background-color: #c0c7ff;
  border-radius: 15px;

  margin-top: 33px;
  margin-left: 124px;
}


.box3{
  font-family: "KCCChassam";

  width: 278px;
  height: 171px;
  background-color: #36364D;
  border-radius: 20px;

  margin-top: 12px;
  margin-left: 18px;
}

.box4{
  font-family: "KCCChassam";
  font-size: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 14px;
  padding: 3%;

  width: 178px;
  height: 200px;
  background-color: #FFFAE1;
  border-radius: 15px;

  margin-top: 15px;
  margin-left: 18px;
}

.box5, .box6{
  font-family: "KCCChassam";
  font-size: 9px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 72px;
  height: 21px;
  background-color: #FFCFC0;
  border-radius: 15px;

  margin-top: 15px;
  margin-left: 60px;
  margin-bottom: 10px;

  float:left;
}

